@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --clr-black-400: #202124;
    --clr-yellow-400: #fbae3c;
    --clr-blue-400: #4e6fd8;
    --clr-green-400: #5ba04d;
    --clr-magenta-300: #ff95bb;
    --clr-magenta-400: #ff83a5;
    --clr-magenta-500: #ff7190;
    --clr-magenta-600: #ff5e7b;
    --clr-magenta-700: #f74a75;
    --clr-magenta-800: #e6207a;
    --clr-orange-400: #ff7268;
    --clr-pink-400: #ff2b8a;
    --clr-purple-400: #d171f6;
    --clr-purple-500: #bc4ce4;
    --clr-violet-400: #7a23d1;
}

/* Reset.css */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding and margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
    list-style: none;
}

/* Set default font size and family */
body {
    font-size: 1rem;
    font-family: 'Righteous', cursive;
    /* Set default background and text color */
    background-color: white;
    color: black;
    /* Set default line height */
    line-height: 1.5;
}

/* Remove default border */
img,
iframe,
video,
embed {
    border: none;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}